<div id = "reset-main-div">
    <img id = "reset-logo" src = "assets/images/topgologo.png" [routerLink]="['']">
    <div id = "reset-password-div" class = "center shadow">
        <div id = "reset-header">
            <h1 id = "reset-header-h1">Reset Password</h1>
        </div>
        <div id="reset-text">
            <p>Please enter the new password you would like to use</p>
        </div>
        <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()" id = "resetPasswordForm">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput name="Password" type="password" formControlName="passwordControl">
                <mat-error  *ngIf="resetPassForm.controls.passwordControl.errors?.['required']">Error: field can not be empty</mat-error>
                <mat-error  *ngIf="resetPassForm.controls.passwordControl.errors?.['minlength']">Error: Password must consist of at least 6 characters</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput name="ConfirmPassword" type="password" formControlName="confirmPasswordControl">
                <mat-error  *ngIf="resetPassForm.controls.confirmPasswordControl.errors?.['required']">Error: field can not be empty</mat-error>
                <mat-error  *ngIf="resetPassForm.controls.confirmPasswordControl.errors?.['minlength']">Error: Password must consist of at least 6 characters</mat-error>
            </mat-form-field>
            <div *ngIf="doPasswordsMatch()===false">Error: Passwords do not match</div>

          <button  id="reset-button" type="submit" mat-raised-button>Reset</button>
        </form>
    </div>
</div>
