:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
* {
    font-family: 'Chakra Petch';
}
mat-form-field  {margin: 5px;}
#reset-logo
{
    display: inline-block;
    height: auto;
    max-width: 400px;
    margin-top: 5%;
    cursor: pointer;


}

mat-form-field >>> .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #FF9642;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #FF9642;
  }
  
  ::ng-deep .mat-focused .mat-form-field-required-marker {
    color: #FF9642
  }

#reset-text{
    display:flex;
    margin:10px;
    margin-top:50px;
    text-align: left;
    font-size:large;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#reset-main-div
{
    width: 100%;
    text-align: center;
}
#reset-button {
    background-color: #FF9642;
    color: white;
    width: 20%;
    margin-top: 10px;
}

mat-form-field {
    width: 40%;
}
#reset-header {
    background-color: #FF9642;
    border-radius: 5px 5px 0px 0px;
    height: 15%;
    text-align: center;
    display:table;
    width:100%;

}
#reset-header-h1
{
    color: white;
    display:table-cell;
    vertical-align: middle;
    font-size: 30px;

}
form>div{
    color: #f44336 !important;
}
#reset-password-div
{
    margin: 0;
    width: 30%;
    height: 50%;
    background-color: #E7E7E7;
    border-radius: 5px;
    text-align: center;
    min-height: 400px;
    min-width: 250px;

}

#resetPasswordForm {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;

  }

#forgot-password
{
    position : absolute;
    color: #FF9642;
    cursor: pointer;
    top :47px;
    left: 82px;
    font-size: 12px;
}


#password-field
{
    position: relative;
}