#list-holder-wrapper{
    display: block;
    float: right;
    height: 100%;
    width: 350px;
    background: #d2d2d2;
}
.header-text{
    text-align: center;
    font-size: x-large;
    margin-bottom:0;
}
#other-content{
    display:flex;
    width: 80%;
    align-items: center;
    flex-direction: column;
}
.horizontal-flex{
    display:flex;
    align-items: center;
    flex-direction: row;
}
.destination-icon{
    width: 2.6em;
    margin-right: 0.5em;
}
.horizontal-flex-end{
    display:flex;
    justify-content: space-between;
    flex-direction:row;
}
#main-time-holder{
    margin-top:5px;
    width: 100%;
}
#main-time-holder img{
    height: 3em;
    width: 3em;
}
#main-departure-holder{
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-destination-holder{
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-location-holder{
    margin-top:50px;
    width: 100%;
}
#main-start-time-holder{
    display:flex;
    align-items: center;
    justify-content: center;
}

#main-end-time-holder{
    display:flex;
    align-items: center;
    justify-content: center;
}
.value-text{
    font-size: larger;
    margin-bottom:0;
}
.title-text{
    font-size: larger;
    margin-bottom: 0;
    margin-right:5px;
}
.icon {
    width: 2em;
    margin-right: 0.7em;
  }

#header-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
}
#history-content{
    width: 100%;
    display:flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}
#history-main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#list-holder{
    overflow: auto;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    align-items: center;
}
.history-instance{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    height: 100%;
    border-radius: 15px;
}

.instance{
    border-radius: 15px;
    margin-bottom: 25px;
    width: 100%;
}

.instance:hover{
    box-shadow:  0px 0px 7px -1px rgba(255,150,66,0.87), 
    0px 0px 7px -1px rgba(255,150,66,0.87), 
    0px 0px 7px -1px rgba(255,150,66,0.87), 
    0px 0px 7px -1px rgba(255,150,66,0.87);
}

.highlight{
    box-shadow:  0px 0px 7px -1px rgba(255,150,66,0.87), 
    0px 0px 7px -1px rgba(255,150,66,0.87), 
    0px 0px 7px -1px rgba(255,150,66,0.87), 
    0px 0px 7px -1px rgba(255,150,66,0.87);

}

::ng-deep .mat-select {
    color: #FF9642; /* or any other color of your choice */
  }
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
color: #FF9642;
}
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #FF9642;
    }

    ::ng-deep .mat-focused .mat-form-field-required-marker {
    color: #FF9642 !important;
    }
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
        background-color: #FF9642 !important;
    }
    ::ng-deep .mat-focused .mat-select-arrow {
        color: #FF9642 !important;
    }

 ::ng-deep .mat-select-arrow-wrapper{
    color: #FF9642 !important;
    }
 
 ::ng-deep .mat-focused .mat-select-underline {
    color: #FF9642 !important;
 }

 ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: #FF9642 !important;
 }
 .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #FF9642 !important;
}
h1{
    display: flex;
    width: 100%;
    height:100%;
    text-align: center;
    font-size: xx-large;
    color: white;
    justify-content: center;
    flex-direction: column;
    margin: 0 !important;
}

.white-background{
    padding: 10px;
    width: 80%;
    margin-bottom:10px;
    border-radius: 15px;
    background-color: white;
}
#list-holder-header{
    display: flex;
    width: 100%;
    min-height:150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FF9642;
}
#header-content{
    margin-top:10px;
    width: 80%;
}
.price-text{
    color:#FF9642;
    font-size: x-large;
}
#main-price-holder{
    margin-top:50px;
}
.vertical-flex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-pet-baby-holder{
    width: 60%;
    margin-top:50px;
}
#main-passenger-holder{
    width: 80%;
    margin-top:50px;
}
.passenger-image{
    width: 50px;
    margin-right: 16px;
    border: 1px solid black;
    border-radius: 100px;
    height: 50px;
    object-fit: cover;
}
#review-value-holder{
    margin-top:10px;
}
.passenger-holder-instance{
    background-color: #F4F4F4;
    height: 80%;
    padding-left: 15px;
    padding-right:15px;
    margin-left:10px;
    margin-right:10px;
    border-radius: 15px;
}
.passenger-holder-instance p{
    white-space: nowrap;
}

#main-review-holder{
    width: 100%;
    justify-content: center;
    display:flex;
    flex-direction: row;
    margin-top:50px;
}
.review-instance{
    background-color: #F4F4F4;
    width: 80%;
    margin-top:20px;
    margin-bottom:20px;
    padding:15px;
    border-radius: 15px;

}
.star-rating{
    margin-top:15px;
}
.review-holder{
    display: flex;
    flex-direction: column;
    padding:0;
    align-items: center;
    background-color: white;
    overflow: auto;
    overflow-y: visible;
    margin-right: 20px;
    margin-top:20px;
    border-radius: 15px;
    width: 50%;
    height: 400px;
    margin-bottom: 20px;
    width: 32em;
}

.star-rating {
    display: flex;
    align-items: center;
  }
  
  .star {
    font-family:'Font Awesome 6 Free' !important;
    display: inline-block;
    position: relative;
    font-size: 2em;
    left:0;
    width: 50%;
    color: #ccc;
  }

   .star:after {
    font-family: 'Font Awesome 6 Free' !important;
    content: "\f005";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #FF9642;
  }
  


#passenger-holder{
    overflow: auto;
    overflow-x: visible;
    width: 100%;
    margin-top:20px;
    border-radius: 15px;
    background-color: white;
    height: 90px;
}
#img-icon-content{
    display: flex;
    justify-content: space-between;
}
.orange-line{
    border-radius: 15px;
    border-bottom: 6px solid #FF9642;
    margin-top: 2px;
    margin-bottom: 0;
}
.map-frame{
    width: 10% !important;
    height: 10% !important;
}
.header-icon {
    width: 5em;
    height: 5em;
    margin-right: 0.7em;
  }
#history-instance-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    height: 90%;
    overflow: auto;
    overflow-y: visible;
    overflow-x:hidden;
    border-radius: 15px;
    background-color: #F4F4F4;
}


#small-map{
    width: 50%;
    height: 50%;
}