<div id = "reset-main-div">
    <img id = "reset-logo" src = "assets/images/topgologo.png" [routerLink]="['']">
    <div id = "reset-password-div" class = "center shadow">
        <div id = "reset-header">
            <h1 id = "reset-header-h1">Reset Password</h1>
        </div>
        <div id="reset-text">
            <p>Please enter the email address associated with your account</p>
            <p>We will send you a link to reset your password!</p>
        </div>
        <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()" id = "resetPasswordForm">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput name="email" formControlName="emailControl">
                <mat-error  *ngIf="resetPassForm.controls.emailControl.errors?.['required']">Error: field can not be empty</mat-error>
                <mat-error  *ngIf="resetPassForm.controls.emailControl.hasError('email')">Error: Email form is incorrect</mat-error>
            </mat-form-field>

          <button  id="reset-button" type="submit" mat-raised-button>Reset password</button>
        </form>
    </div>
</div>
