::ng-deep .mat-select {
    color: #FF9642; /* or any other color of your choice */
  }
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
color: #FF9642;
}
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #FF9642;
    }

    ::ng-deep .mat-focused .mat-form-field-required-marker {
    color: #FF9642 !important;
    }
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
        background-color: #FF9642 !important;
    }
    ::ng-deep .mat-focused .mat-select-arrow {
        color: #FF9642 !important;
    }

 ::ng-deep .mat-select-arrow-wrapper{
    color: #FF9642 !important;
    }
 
 ::ng-deep .mat-focused .mat-select-underline {
    color: #FF9642 !important;
 }

 ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: #FF9642 !important;
 }
 .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #FF9642 !important;
}