<div id="round-wrapper">
    <div id="content-holder">
        <div class="value-container" id="departure-container">
            <div class="title-img-container">
                <img>
                <p id="departure-title">Departure:</p>
            </div>
            <p id="departure-value">Mokap</p>
        </div>
        <div class="value-container" id="destination-container">
            <p id="destination-title">Destination:</p>
            <p id="destination-value">Mokap</p>
        </div>
        <div class="value-container" id="start-date-container">
            <p id="start-date-title">Start:</p>
            <p id="start-date-value">14-01-2021</p>
        </div>
        <div class="value-container" id="end-date-container">
            <p id="end-date-title">End:</p>
            <p id="end-date-value">14-01-2021</p>
        </div>
        <img id="passenger">
    </div>
</div>