<div class="custom-snack-bar">
    <div class="ride-info">
      <div class="header">New ride request</div>
      <div class="details">
        <div class="detail">
          <div class="label">Vehicle type:</div>
          <div class="value">{{ ride.vehicleType }}</div>
        </div>
        <div class="detail">
          <div class="label">Estimated time:</div>
          <div class="value">{{ ride.estimatedTimeInMinutes.toFixed(0) }} minutes</div>
        </div>
        <div class="detail">
          <div class="label">Total cost:</div>
          <div class="value">{{ ride.totalCost.toFixed(0) }} DIN</div>
        </div>
        <div class="detail">
          <div class="label">Baby transport:</div>
          <div class="value">{{ ride.babyTransport ? 'Yes' : 'No' }}</div>
        </div>
        <div class="detail">
          <div class="label">Pet transport:</div>
          <div class="value">{{ ride.petTransport ? 'Yes' : 'No' }}</div>
        </div>
        <div class="detail">
            <div class="label">Passengers:</div>
                <div class="passenger-values">
                <ul>
                    <li *ngFor="let passenger of passengerUsernameProfile">
                      <img [src]="passenger.profilePicture" [title] = "passenger.email">
                    </li>
                </ul>
                </div>
            </div>
      </div>
    </div>
    <hr>
    <div class="timer">{{ secondsLeft }} seconds left</div>
    <div class="actions">
      <button mat-raised-button class="accept"(click)="onAccept()">Accept</button>
      <button mat-raised-button class="decline"(click)="onDecline()">Decline</button>
    </div>
  </div>