<ngx-charts-line-chart id="chart"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            align="center"
            [view] = "view"
            [customColors]="colorScheme"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="graphData"
            >
            </ngx-charts-line-chart>
<p id="total">Total: {{total}}</p>