<div id="menu-buttons">
    <button mat-raised-button [routerLink]="['/admin/home']" shadow id="reports">Home</button>
    <button mat-raised-button [routerLink]="['/admin/users']" shadow id="history">Users</button>
    <button mat-raised-button [routerLink]="['/admin/createDriver']" shadow id="driver-creation">Create Driver</button>
    <button mat-raised-button [routerLink]="['/admin/requests']" shadow id="requests">Requests</button>
    <button mat-raised-button [routerLink]="['/admin/reports']" shadow id="reports">Reports</button>


</div>

<div id="logout-container">
    <button mat-raised-button (click) = "logout()" shadow id="logout" [routerLink]="['']">Logout</button>
</div>
