<div class="shadow" id='document-content'>
    <div id="reset-text">
        <p>Please enter the new password you would like to use</p>
    </div>
    <form [formGroup]="changePassForm" (ngSubmit)="changeDriverPassword()" id = "resetPasswordForm">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput name="Password" type="password" formControlName="passwordControl">
            <mat-error  *ngIf="changePassForm.controls.passwordControl.errors?.['required']">Error: field can not be empty</mat-error>
            <mat-error  *ngIf="changePassForm.controls.passwordControl.errors?.['minlength']">Error: Password must consist of at least 6 characters</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput name="ConfirmPassword" type="password" formControlName="confirmPasswordControl">
            <mat-error  *ngIf="changePassForm.controls.confirmPasswordControl.errors?.['required']">Error: field can not be empty</mat-error>
            <mat-error  *ngIf="changePassForm.controls.confirmPasswordControl.errors?.['minlength']">Error: Password must consist of at least 6 characters</mat-error>
        </mat-form-field>
        <div id="passwords-no-match-err"*ngIf="doPasswordsMatch()===false">Error: Passwords do not match</div>
        <button  id="reset-button" type="submit" mat-raised-button>Reset</button>
    </form>
</div>