<div class="shadow" id='document-content'>
    <div id="reset-text">
        <p>Please enter the old password,aswell as the new password you would like to use</p>
    </div>
    <form [formGroup]="changePassForm" (ngSubmit)="changeDriverPassword()" id = "resetPasswordForm">
        <mat-form-field appearance="outline">
            <mat-label>Old Password</mat-label>
            <input matInput name="Old Password" type="password" formControlName="oldPasswordControl">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput name="New Password" type="password" formControlName="newPasswordControl">
            <mat-error  *ngIf="changePassForm.controls.newPasswordControl.errors?.['required']">Error: field can not be empty</mat-error>
            <mat-error  *ngIf="changePassForm.controls.newPasswordControl.errors?.['minlength']">Error: Password must consist of at least 6 characters</mat-error>
        </mat-form-field>
        <button  id="reset-button" type="submit" mat-raised-button>Reset</button>
    </form>
</div>