<div id="dialog-content">
  <form [formGroup]="panicForm" (ngSubmit)="submit()">>
    <mat-form-field appearance="outline" class="route-form-field" id="reason">
      <mat-label>Reason</mat-label>
      <input matInput name="reason" formControlName="reason">
    </mat-form-field>
    <div id="buttons">
      <button mat-raised-button type="submit" id="confirm-button">Confirm</button>
      <button mat-raised-button type="button" (click)="onCancelClick()" id="cancel-button">Cancel</button>
    </div>
  </form>
</div>
