<div class = "main-backgroud">

  <form id = "createDriverForm" [formGroup] = "createDriverForm">
    <div id="other-forms">
      <div class ="separators">
        <p>Personal information</p>
        <hr>
      </div>
      <div id="Name">
        <mat-form-field appearance="outline" id = "first-name-form">
          <mat-label>First name</mat-label>
          <input matInput name="firstName" formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="outline" id = "last-name-form">
          <mat-label>Last name</mat-label>
          <input matInput name="lastName" formControlName="lastName">
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" id = "password-form" class = "other-forms">
        <mat-label>Password</mat-label>
        <input matInput name="password" formControlName="password" type = "password">
      </mat-form-field>


      <mat-form-field appearance="outline" class = "other-forms">
        <mat-label>E-mail</mat-label>
        <input matInput name="email" formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline"  class = "other-forms">
        <mat-label>Phone Nubmer</mat-label>
        <input matInput name="phoneNumber" formControlName="phoneNumber" required="">
      </mat-form-field>
      <mat-form-field appearance="outline" class = "other-forms">
        <mat-label>Adress</mat-label>
        <input matInput name="adress" formControlName="adress">
      </mat-form-field>

      <div class ="separators">
        <p>Car details</p>
        <hr>
      </div>
      <mat-form-field appearance="outline" class = "other-forms">
        <mat-label>Model</mat-label>
        <input matInput name="model" formControlName="model">
      </mat-form-field>

      <mat-form-field appearance="outline" class = "other-forms">
        <mat-label>Licence Plate</mat-label>
        <input matInput name="licencePlate" formControlName="licencePlate">
      </mat-form-field>
      <div id="vehicleInfo">
        <mat-form-field appearance="outline" id = "seats-form">
          <mat-label>Seats</mat-label>
          <input matInput name="seats" formControlName="seats">
        </mat-form-field>
        <mat-select placeholder="Vehicle Type" id = "vehicle-type">

          <mat-option>Luxury</mat-option>
          <mat-option>Standard</mat-option>
          <mat-option>Van</mat-option>
<!--          <input matInput name="vehicleType" formControlName="vehicleType">-->
        </mat-select>
      </div>
      <div id = "checkboxes">
        <mat-checkbox>Babies</mat-checkbox>
        <mat-checkbox>Babies</mat-checkbox>
      </div>
      <div class ="separators">
        <p>Documents</p>
        <hr>
      </div>
      <a>docs</a>
      <button  id="create-button" type="submit" mat-raised-button>Create</button>

    </div>


  </form>
</div>
