#test
{
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.459);
  position :fixed;
  top: 75%;
  right: 0;
  border-radius: 5px 0px 0px 5px;


}
mat-form-field{
  margin-bottom: 0px !important;
  margin-top: 10px !important;
}
#location,#destination
{
  margin: 20px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline  {
  background-color: white;
  border-radius: 5px;
}

#moreOptions
{
  background-color: rgb(255, 255, 255);
  margin: 0px 10px 10px 10px;
  padding:15px;
  border-radius: 5px;
  height: fit-content;
  display: none;
}
#order-button ,#cancel-button {
  margin :10px;
  margin-top: 0;
  margin-bottom: 30px;
  background-color: #FF9642;
  color: white;
  margin: 10px;
  font-size: large;

}
#button-div
{
  text-align: center;
}
mat-checkbox
{
  margin:5px;
  margin-left: 20px;
  display: inline-block;
}

#go-button {
  background-color: #FF9642;
  color: white;
  margin: 10px;
  font-size: x-large;
}
#driver-div {
  background-color: rgba(0, 0, 0, 0.459);
  position: fixed;
  right: 0;
  border-radius: 5px 0px 0px 5px;
  display: none;
  top: 5%;


}
#driver-image
{

  border-radius: 100px;
  width: 100px;
  stroke: black;
  margin: 10px;
  display:inline-block;
}
#info{
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  font-size: large;
}
#driver-info
{
  border-radius: 5px;
  background-color: white;
  margin :10px;
}
