
<div id = "driver-div" #popupContent>
  <div id = "driver-info">
    <img id = "driver-image" src="{{driverImage}}">
    <div id = "info">
    <p id ="driver-name" >{{driverName}}</p>
      <p id ="driver-phone" >{{driverPhone}}</p>
      <p id ="driver-email">{{driverEmail}}</p>
    </div>
</div>
</div>

<div id="test" #formDiv >
  <form [formGroup]="goForm" (ngSubmit)="go($event.submitter.id)">
    <div id = "route-div">
    <mat-form-field appearance="outline" class="route-form-field" id="location">
      <mat-label>Location</mat-label>
      <input matInput name="location" formControlName="location" (focus)="departureInFocus()">
    </mat-form-field>
    <mat-form-field appearance="outline" id = "destination-field" class="route-form-field" id="destination">
      <mat-label>Destination</mat-label>
      <input matInput name="destination" formControlName="destination" (focus)="destinaionInFocus()">
    </mat-form-field>

    <button  id="go-button" type="submit" mat-raised-button>Go</button>
    </div>
    <div id ="moreOptions">
      <mat-form-field appearance="fill">
        <mat-label>Car type</mat-label>
        <mat-select formControlName="carType">
          <mat-option value="1">Standard</mat-option>
          <mat-option value="2">Luxury</mat-option>
          <mat-option value="3">Van</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox formControlName="forBabies">For Babies</mat-checkbox>
        <mat-checkbox formControlName="forPets">For Pets</mat-checkbox>
      <mat-form-field id = 'number-input-field'>
        <input matInput id = "number-input" type="number" min="2" max="10" step="2" value = "4" placeholder="Seats">
      </mat-form-field>
      <div id = "button-div">
      <button  id="search-button" type="submit" mat-raised-button >Search</button>
        <button  id="confirm-button" type="submit" mat-raised-button [disabled]="isDisabled">Confirm</button>
        <button  id="cancel-button" type="submit" mat-raised-button >Cancle</button>

      </div>



    </div>
  </form>

</div>
<div id = 'confirm-ride' #confirmRide>
  <div id = 'confirm-ride-info' class = 'center' #confirmRideInfo>
    <div class = 'route-div'>
      <img src="assets/images/carIcon.png" id = "departure-image">
      <hr id = "orange-line">
      <img src="assets/images/destination-marker.png" id = "destination-image">
    </div>
    <div class = 'route-div'>
      <p id = 'departure-text' >{{destinationP}}</p>
      <p id = 'destination-text' >{{departureP}}</p>
    </div>
    <div id = 'driver-info-ride'>
      <div id ='driver-info-border'>
      <img src="{{driverImage}}" id = "driver-image-ride">
      <div id = driver-info-ride-text>
      <p id ="driver-name-ride" >{{driverNameRide}}</p>
      <p id ="driver-phone-ride" >{{driverPhoneRide}}</p>
      <p id ="driver-email-ride" >{{driverEmailRide}}</p>
      </div>
      </div>
      <div id = vehicle-info-ride-text>
        <p id ="vehicle-name-ride" >{{vehicleNameRide}}</p>
        <p id ="vehicle-type-ride" >{{vehicleTypeRide}}</p>
        <p id ="number-of-seats" >Seats: {{numberOfSeats}}</p>
        <p id ="for-animals" >For Pets: {{forAnimals}}</p>
        <p id ="for-babies" >For Babies: {{forBabies}}</p>
        <p >{{distance}}</p>
        <p >{{average}}</p>
        <p >{{ridePrice}}</p>
      </div>
    </div>
    <div id = 'ride-button-div'>
    <button  id="order-button"  (click)="orderRide()" mat-raised-button >Order</button>
    <button  id="cancer-order-button"  (click)="cancelOrder()" mat-raised-button >Cancel</button>
    </div>
  </div>
</div>

