#route-form{
    background-color: rgba(0,0,0, 0.7);
    width: 35%;
    height: 7%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 5%;

}

#go-button {
    background-color: #FF9642;
    color: white;
    width: 100px
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
  margin: 7px;
}
#form-container{


}

